.security-login .main-center{
  border: 4px solid #DDDDDD;
  border-radius:20px;
  background: #ddd;
  width:500px;
  margin: auto;
  height: 300px;
  clear: both;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}
.security-login .absolute-center {
   overflow: auto;
   margin: auto;
   position: absolute;
   padding: 50px 15px 30px 15px ;
   top: 0; left: 0; bottom: 0; right: 0;
   width:320px;
 }

.zc-login-image {
  width:30%;
}

